#Header {
    height: 7vh;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1B78BA;
    position: fixed;
}

#Footer {
    height: 7vh;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1B78BA;
}

.Icon {
    color: white;
    margin: 1em;
}